.home-cards {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: 80px;
  margin-bottom: 30px;
  align-items: center;
  align-self: center;
  flex-direction: row;
}
.home-consumed {
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  margin-right: 70px;
}
.home-title {
  font-size: 28px;
  align-self: stretch;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 16px;
}
.home-text {
  font-size: 19px;
  font-weight: 600;
}
.home-produced {
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  margin-left: 70px;
}


.home-cards2 {
  display: flex;
  margin-top: 80px;
  align-items: center;
  margin-bottom: 32px;
}
.home-data {
  display: flex;
  padding: 50px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}



.home-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-search {
  width: 40px;
  height: 35px;
  background-image: url("../icons/search_white.svg");
}
.home-button {
  border-color: #00000000;
  border-radius: 5px;
  align-self: center;
  margin-left: 5px;
  background-size: cover;
  background-color: #6690f5;
  background-position: center;
}
.home-button:disabled {
  background-color: #6691f57e;
}
.home-input {
  color: #000000;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
}



.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
  background-color: #6690f5;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #dddddd;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #6690f5;
}
.content-table tr.hover:hover {
  color: #6690f5
}

.home-pagination {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
  justify-content: center;
  align-self: flex-end;
}
.home-page-previous {
  width: 40px;
  height: 35px;
  background-image: url("../icons/arrow_left_white.png");
}
.home-page {
  width: 40px;
  height: 35px;
  color: #ffffff;
  font-size: 22px;
}
.home-page-next {
  width: 40px;
  height: 35px;
  background-image: url("../icons/arrow_right_white.png");
}
